<div fxLayout="row wrap" fxFlex="100">
    <fuse-widget class="widget" fxLayout="row wrap" fxFlex="100">
        <div class="fuse-widget-front" fxFlex="100">
            <div class="px-16 py-12 titlecard" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="h3">{{'lbl.misPruebas' | translate}}</div>
            </div>
            <div class="p-16 pb-0 m-0" fusePerfectScrollbar fxLayout="row wrap" fxFlex="100">
                <mat-table #table [dataSource]="datasource" fxFlex="100">

                    <!--COLUMNA ID-->
                    <ng-container matColumnDef="prueId">
                        <mat-header-cell *matHeaderCellDef fxFlex="5" fxFlex.xs="5">
                            <div class="px-4 h3">#</div>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let item" fxFlex="5" fxFlex.xs="5">
                            <div class="px-4" fxFlex="100">
                                <span class="referencia">{{item.prueId}}</span>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <!--COLUMNA ID-->

                    <!--COLUMNA TIPO PRUEBA-->
                    <ng-container matColumnDef="nombreTipoPrueba">
                        <mat-header-cell *matHeaderCellDef fxFlex="20" fxFlex.xs="20">
                            <div class="px-4 h3">Tipo prueba</div>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let item" fxFlex="20" fxFlex.xs="20">
                            <div class="px-4" fxFlex="100">
                                <span class="referencia">{{item.tipoPrueba}}</span>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <!--COLUMNA TIPO PRUEBA-->

                    <!--COLUMNA FECHA INICIAL-->
                    <ng-container matColumnDef="fechaInicial">
                        <mat-header-cell *matHeaderCellDef fxFlex="15" fxFlex.xs="15">
                            <div class="px-4 h3">Fecha inicial</div>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let item" fxFlex="15" fxFlex.xs="15">
                            <div class="px-4" fxFlex="100">
                                <span class="referencia">{{item.fechaInicial | date: 'dd/MMM/yyyy HH:mm'}}</span>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <!--COLUMNA FECHA INICIAL-->

                    <!--COLUMNA FECHA FINAL-->
                    <ng-container matColumnDef="fechaFinal">
                        <mat-header-cell *matHeaderCellDef fxFlex="15" fxFlex.xs="15">
                            <div class="px-4 h3">Fecha final</div>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let item" fxFlex="15" fxFlex.xs="15">
                            <div class="px-4" fxFlex="100">
                                <span class="referencia">{{item.fechaFinal | date: 'dd/MMM/yyyy HH:mm'}}</span>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <!--COLUMNA FECHA FINAL-->

                    <!--COLUMNA DURACION-->
                    <ng-container matColumnDef="duracion">
                        <mat-header-cell *matHeaderCellDef fxFlex="15" fxFlex.xs="15">
                            <div class="px-4 h3">Duración (Mins)</div>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let item" fxFlex="15" fxFlex.xs="15">
                            <div class="px-4" fxFlex="100">
                                <span class="referencia">{{item.tiempoDisponible}}</span>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <!--COLUMNA DURACION-->

                    <!--COLUMNA PROPIETARIO-->
                    <ng-container matColumnDef="propietario">
                        <mat-header-cell *matHeaderCellDef fxFlex="30" fxFlex.xs="30">
                            <div class="px-4 h3">Propietario</div>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let item" fxFlex="30" fxFlex.xs="30">
                            <div class="px-4" fxFlex="100">
                                <span class="referencia">{{item.propietario}}</span>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <!--COLUMNA PROPIETARIO-->

                    <!--COLUMNA PROPIETARIO-->
                    <ng-container matColumnDef="estado">
                        <mat-header-cell *matHeaderCellDef fxFlex="30" fxFlex.xs="30">
                            <div class="px-4 h3">Estado</div>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let item" fxFlex="30" fxFlex.xs="30">
                            <div class="px-4" fxFlex="100">
                                <span class="referencia">{{item.nombreEstadoPrueba}}</span>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <!--COLUMNA PROPIETARIO-->

                    <!--DEFINICION DE COLUMNAS-->
                    <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row>
                    <mat-row *matRowDef="let item; columns: displayedColumns" (click)="seleccionar(item)"></mat-row>
                    <!--DEFINICION DE COLUMNAS-->

                </mat-table>

                <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>

            </div>
        </div>
    </fuse-widget>
</div>