sapiens.log
*/.metadata/
/fuentes/saber-pro-app/target/
/fuentes/saber-pro-app/.metadata/
/fuentes/sapiens2/
.project
org.eclipse.core.resources.prefs
.classpath
/fuentes/ROOT/WebContent/*
-/fuentes/ROOT/WebContent/WEB-INF/*