<div id="modulo" class="page-layout simple right-sidebar" fxLayout="row">
  <div class="center" fusePerfectScrollbar>
    <div class="tituloPrincipal" fxFlex="100">
      {{'lbl.administracionModulo' | translate}}
    </div>
    <div class="content">
      <div class="widget-group p-12" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom>
        <modulo-list [actualizar]="actualizar" fxFlex="100"></modulo-list>
      </div>
      <button mat-fab class="btnCrear btnSecundario" (click)="crear()">
        <mat-icon class="icon">add</mat-icon>
      </button>
    </div>
  </div>
</div>