<div id="usuario" class="pagina-principal page-layout simple right-sidebar" fxLayout="row">
    <div class="center" fusePerfectScrollbar>
        <div class="tituloPrincipal" fxFlex="100">
            Crea un entrenamiento
        </div>
        <div class="content">
            <div class="widget-group p-12" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom>
                <div fxLayout="row wrap" fxFlex="100">
                    <fuse-widget class="widget" fxLayout="row wrap" fxFlex="100">
                        <div class="fuse-widget-front" fxFlex="100">
                            <div class="px-16 py-12 titlecard" fxLayout="row" fxLayoutAlign="space-between center">
                                <div class="h3">Datos generales del entrenamiento</div>
                            </div>
                            <div class="p-16 pb-0 m-0" fusePerfectScrollbar fxLayout="row wrap" fxFlex="100">
                                <p class="pt-0 pb-16">
                                    Diseñe un entrenamiento. Incluya uno o varios módulos y confirme la duración.
                                </p>
                                <form [formGroup]="form" fxLayout="row wrap" fxFlex="100">
                                    <!--DURACION DE LA PRUEBA-->
                                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
                                        <div class="h3" fxFlex="100">Duración (En minutos):</div>
                                        <div fxFlex="100">
                                            <mat-slider class="example-margin" [invert]="invert" [max]="max" [min]="min"
                                                [step]="step" [thumbLabel]="thumbLabel"
                                                [tickInterval]="getSliderTickInterval()" formControlName="duracion"
                                                [vertical]="vertical">
                                            </mat-slider>
                                            {{form.controls.duracion.value / 60 | number}} Horas
                                        </div>
                                    </div>
                                    <!--DURACION DE LA PRUEBA-->

                                    <mat-form-field appearance="outline" fxFlex="50" class="px-8">
                                        <mat-label>Fecha inicial</mat-label>
                                        <input matInput type="datetime-local" formControlName="fechaInicial" [min]="hoy">
                                        <mat-error>La fecha inicial es obligatoria!</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex="50" class="px-8">
                                        <mat-label>Fecha final</mat-label>
                                        <input matInput type="datetime-local" formControlName="fechaFinal" [min]="hoy">
                                        <mat-error>La fecha final es obligatoria!</mat-error>
                                    </mat-form-field>

                                    <mat-form-field fxFlex="100" class="px-8">
                                        <mat-label>Módulos</mat-label>
                                        <mat-select formControlName="modulos" multiple>
                                            <mat-option *ngFor="let modulo of listaModulos" [value]="modulo.moduId">
                                                {{modulo.nombre}}</mat-option>
                                        </mat-select>
                                        <mat-error>Debe seleccionar por lo menos un módulo!</mat-error>
                                    </mat-form-field>
                                </form>
                            </div>

                            <div mat-dialog-actions class="m-0 p-16" fxLayout="row wrap" fxFlex="100"
                                fxLayoutAlign="end center">
                                <div fxFlex="50" fxFlex.xs="0"></div>
                                <button fxFlex="50" fxFlex.xs="100" mat-stroked-button type="button" class="btnPrimario"
                                    (click)="guardarPrueba()">
                                    Crear entrenamiento
                                </button>
                            </div>
                        </div>
                    </fuse-widget>
                </div>
            </div>
        </div>
    </div>
</div>