<div class="dialog-content-wrapper" fxLayout="row wrap" fxFlex="100">
    <div class="px-16 py-12 titlecard" fxFlex="100">
        <div class="h3">{{'lbl.usuario' | translate}}</div>
    </div>
    <form [formGroup]="form" fxLayout="row wrap" fxFlex="100" (ngSubmit)="onFormSubmit()">
        <div mat-dialog-content class="p-16 m-0" fusePerfectScrollbar fxLayout="row wrap" fxFlex="100">

            <mat-form-field class="px-8" fxFlex="100">
                <input matInput placeholder="{{'lbl.usuario' | translate}}" formControlName="usuario" maxlength="80" type="text" pattern="[a-zA-Z .]+" ng-pattern-restrict>
                <mat-error *ngIf="form.controls.usuario.errors?.required">{{'msg.campoRequerido' | translate}}
                </mat-error>
                <mat-error *ngIf="form.controls.usuario.hasError('maxlength')">{{'msg.tamanoMaximo' | translate}}</mat-error>
                <mat-error *ngIf="form.controls.usuario.hasError('pattern')">{{'msg.soloTexto' | translate}}</mat-error>
            </mat-form-field>

            <mat-radio-group formControlName="perfil" fxLayout="row" class="mat-checkbox-group">
                <mat-radio-button *ngFor="let rol of roles" value="{{rol.rolId}}" class="py-8" fxFlex="50">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <span class="mat-h4 m-0">{{rol.nombre}}</span>
                    </div>
                </mat-radio-button>
            </mat-radio-group>
            <mat-error fxFlex="100" *ngIf="form.controls.perfil.errors?.required">{{'msg.campoRequerido' | translate}}
            </mat-error>

        </div>
        <div mat-dialog-actions class="m-0 p-16" fxLayout="row wrap" fxFlex="100" fxLayoutAlign="end center">
            <div fxFlex="50" fxFlex.xs="0"></div>
            <button fxFlex="50" fxFlex.xs="100" mat-stroked-button type="submit" class="btnPrimario">
                {{(this.usuarioDialog.usuaId ? 'lbl.modificar' : 'lbl.crear') | translate}}
            </button>
        </div>
    </form>
</div>