<div fxLayout="row wrap" fxFlex="100">
    <fuse-widget class="widget " fxLayout="row wrap" fxFlex="100">
        <div class="fuse-widget-front" fxFlex="100">
            <div class="px-16 py-12 titlecard" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="h3">Datos generales de la prueba</div>
            </div>
            <div class="p-16 pb-0 m-0" fusePerfectScrollbar fxLayout="row wrap" fxFlex="100">
                <!-- REACTIVE FORM  -->
                <form [formGroup]="form" fxFlex="100" fxLayout="row wrap">
                    <mat-form-field appearance="outline" fxFlex="40" class="px-8" appearance="outline">
                        <mat-label>Tipo de prueba</mat-label>
                        <mat-select formControlName="tipoPrueba">
                            <mat-option [value]="1">
                                Entrenamiento
                            </mat-option>
                            <mat-option [value]="2">
                                Simulacro
                            </mat-option>
                        </mat-select>
                        <mat-icon matSuffix class="secondary-text">bookmarks</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="30" class="px-8">
                        <mat-label>Fecha inicial</mat-label>
                        <input matInput formControlName="fechaInicial">
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="30" class="px-8">
                        <mat-label>Fecha final</mat-label>
                        <input matInput formControlName="fechaFinal">
                    </mat-form-field>

                    <div fxFlex="50" class="px-8">
                        <div class="h3 mb-24">Tiempo disponible:</div>
                        <mat-slider class="example-margin" formControlName="duracion" [min]="0" [max]="prueba.tiempo">
                        </mat-slider>
                        {{form.controls.duracion.value | number}} Minutos
                    </div>

                    <div fxFlex="50" class="px-8">
                        <span class="encabezadoReloj"
                            *ngIf="pruebaUsuario.totalRespuestasCorrectas !== undefined && pruebaUsuario.totalRespuestasCorrectas !== null">Resultado:
                            {{pruebaUsuario.totalRespuestasCorrectas + '/' + pruebaUsuario.totalPreguntas}}</span>
                    </div>
                    <!--DURACION DE LA PRUEBA-->

                    <!--MODULOS-->
                    <mat-form-field fxFlex="50" class="px-8">
                        <mat-label>Módulos</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let modulo of listaModulos" [value]="modulo.moduId" disabled>
                                {{modulo.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>


                </form>
                <!-- REACTIVE FORM  -->
            </div>
        </div>
        <div mat-dialog-actions class="m-0 p-16" fxLayout="row wrap" fxFlex="100" fxLayoutAlign="end center">
            <div fxFlex="50" fxFlex.xs="0" *ngIf="pruebaUsuario.nombreEstadoPrueba !== 'FINALIZADA'"></div>
            <button *ngIf="pruebaUsuario.nombreEstadoPrueba == 'PENDIENTE'" fxFlex="50" fxFlex.xs="100"
                mat-stroked-button type="button" class="btnPrimario" (click)="iniciarPrueba()">
                Iniciar prueba
            </button>
            <button *ngIf="pruebaUsuario.nombreEstadoPrueba == 'INICIADA'" fxFlex="50" fxFlex.xs="100"
                mat-stroked-button type="button" class="btnPrimario" (click)="irAPrueba()">
                Continuar prueba
            </button>
            <button *ngIf="pruebaUsuario.nombreEstadoPrueba == 'PAUSADA'" fxFlex="50" fxFlex.xs="100" mat-stroked-button
                type="button" class="btnPrimario" (click)="iniciarPrueba()">
                Continuar prueba
            </button>
            <div fxFlex="50" fxFlex.xs="100" fxLayout="row wrap"
                *ngIf="pruebaUsuario.nombreEstadoPrueba == 'FINALIZADA'" class="px-4">
                <button fxFlex="100" mat-stroked-button type="button" class="btnSecundario" (click)="verInforme()">
                    Ver informe general
                </button>
            </div>
            <div fxFlex="50" fxFlex.xs="100" fxLayout="row wrap"
                *ngIf="pruebaUsuario.nombreEstadoPrueba == 'FINALIZADA'" class="px-4">
                <button fxFlex="100" mat-stroked-button type="button" class="btnPrimario" (click)="irAPrueba()">
                    Ver prueba
                </button>
            </div>
        </div>
    </fuse-widget>
</div>