<!--MODULOS DE LA PRUEBA-->
<div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">

    <!-- REACTIVE FORM EXAMPLE -->
    <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start"
          fxFlex="1 0 auto" name="form" [formGroup]="formListaEstudiantes">

        <div class="h2 mb-24">Población objetivo de la prueba</div>

        <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>

            <div class="search-wrapper mt-16 mt-sm-0">

                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <mat-form-field fxFlex="100">
                        <mat-label>Búsqueda</mat-label>
                        <input matInput #postalCode 
                            formControlName="busqueda"
                            (change)="cambioFiltro()">
                    </mat-form-field>
                </div>
            </div>
        </div>

        <!-- CENTER -->
        <div class="center p-24 pb-56 pr-sm-92" fusePerfectScrollbar>

            <!-- CONTENT -->
            <div class="content">
                
                <div class="p-16 pb-0 m-0" fusePerfectScrollbar fxLayout="row wrap" fxFlex="100">

                    <mat-table #table [dataSource]="datasource" [@animateStagger]="{value:'50'}" fxFlex="100">
                
                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="checkbox">
                            <mat-header-cell *matHeaderCellDef fxFlex="5" fxFlex.xs="5">
                                
                                <mat-checkbox  [(ngModel)]="checkedAll" (click)="selectAll()" [ngModelOptions]="{standalone: true}"></mat-checkbox>

                            </mat-header-cell>
                            <mat-cell *matCellDef="let usuario" fxFlex="5" fxFlex.xs="5">
                                <mat-checkbox [(ngModel)]="checkboxes[usuario.usuaId]"
                                    [ngModelOptions]="{standalone: true}"
                                    (ngModelChange)="toogleSelectedUsuario(usuario.usuaId)" (click)="$event.stopPropagation()">
                                </mat-checkbox>
                            </mat-cell>
                        </ng-container>
                
                
                        <!-- CODIGGO -->
                        <ng-container matColumnDef="codigo">
                            <mat-header-cell *matHeaderCellDef fxFlex="15" fxFlex.xs="15">Código</mat-header-cell>
                            <mat-cell *matCellDef="let usuario" fxFlex="15" fxFlex.xs="15">
                                <p class="text-truncate font-weight-600">{{usuario.codigo}}</p>
                            </mat-cell>
                        </ng-container>
                        <!-- CODIGGO -->
                
                        <!-- IDENTIFICACION -->
                        <ng-container matColumnDef="identificacion">
                            <mat-header-cell *matHeaderCellDef fxFlex="15" fxFlex.xs="15">Identificación</mat-header-cell>
                            <mat-cell *matCellDef="let usuario" fxFlex="15" fxFlex.xs="15">
                                <p class="text-truncate font-weight-600">{{usuario.identificacion}}</p>
                            </mat-cell>
                        </ng-container>
                        <!-- IDENTIFICACION -->
                
                        <!-- NOMBRE -->
                        <ng-container matColumnDef="nombre">
                            <mat-header-cell *matHeaderCellDef fxFlex="25" fxFlex.xs="25">Nombre</mat-header-cell>
                            <mat-cell *matCellDef="let usuario" fxFlex="25" fxFlex.xs="25">
                                <p class="text-truncate font-weight-600">{{usuario.apellido | uppercase}},
                                    {{usuario.nombre | titlecase}}</p>
                            </mat-cell>
                        </ng-container>
                        <!-- NOMBRE -->
                
                        <!-- EMAIL -->
                        <ng-container matColumnDef="email">
                            <mat-header-cell *matHeaderCellDef fxFlex="25" fxFlex.xs="25">e-Mail</mat-header-cell>
                            <mat-cell *matCellDef="let usuario" fxFlex="25" fxFlex.xs="25">
                                <p class="text-truncate font-weight-600">{{usuario.correo | lowercase}}</p>
                            </mat-cell>
                        </ng-container>
                        <!-- EMAIL -->
                
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let usuario; columns: displayedColumns;" class="contact"
                            [ngClass]="{'accent-50':checkboxes[usuario.usuaId]}" [@animate]="{value:'*',params:{y:'100%'}}">
                        </mat-row>
                    </mat-table>
                
                    <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons [length]="total" [pageIndex]="pageNumber"
                        [pageSize]="pageSize" (page)="loadPage($event)"></mat-paginator>
                
                </div>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->

    </form>
    <!-- / REACTIVE FORM -->

</div>
<!--MODULOS DE LA PRUEBA-->