<div fxLayout="row wrap" fxFlex="100">
    <fuse-widget class="widget" fxLayout="row wrap" fxFlex="100">
        <div class="fuse-widget-front" fxFlex="100">
            <div class="px-16 py-12 titlecard" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="h3">Preguntas a incluir en la prueba</div>
            </div>
            <div class="p-16 pb-0 m-0" fusePerfectScrollbar fxLayout="row wrap" fxFlex="100">
                <form [formGroup]="formListaPreguntas" fxFlex="100" (ngSubmit)="cambioFiltro()" fxLayout="row wrap">

                    <mat-form-field class="px-16" fxFlex="100" appearance="outline">
                        <mat-label>Busqueda</mat-label>
                        <input matInput fxFlex="90" formControlName="busqueda">

                        <button matSuffix class="btnBusqueda" type="submit">
                            <mat-icon>search</mat-icon>
                        </button>
                    </mat-form-field>

                </form>
                <mat-table #table [dataSource]="datasource" fxFlex="100">

                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="checkbox">
                        <mat-header-cell *matHeaderCellDef fxFlex="5" fxFlex.xs="5">

                            <mat-checkbox [(ngModel)]="checkedAll" (click)="selectAll()"
                                [ngModelOptions]="{standalone: true}"></mat-checkbox>

                        </mat-header-cell>
                        <mat-cell *matCellDef="let pregunta" fxFlex="5" fxFlex.xs="5">
                            <mat-checkbox [(ngModel)]="checkboxes[pregunta.pregId]" [ngModelOptions]="{standalone: true}"
                                (ngModelChange)="toogleSelectedUsuario(pregunta.pregId)"
                                (click)="$event.stopPropagation()">
                            </mat-checkbox>
                        </mat-cell>
                    </ng-container>


                    <!-- ID PREGUNTA -->
                    <ng-container matColumnDef="pregId">
                        <mat-header-cell *matHeaderCellDef fxFlex="5" fxFlex.xs="5">
                            <div class="px-4 h3">#</div>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let pregunta" fxFlex="5" fxFlex.xs="5">
                            <p class="text-truncate font-weight-600">{{pregunta.pregId}}</p>
                        </mat-cell>
                    </ng-container>
                    <!-- ID PREGUNTA -->

                    <!-- MODULO -->
                    <ng-container matColumnDef="nombreModulo">
                        <mat-header-cell *matHeaderCellDef fxFlex="10" fxFlex.xs="10">Modulo
                        </mat-header-cell>
                        <mat-cell *matCellDef="let pregunta" fxFlex="10" fxFlex.xs="10">
                            <p class="text-truncate font-weight-600">{{pregunta.nombreModulo}}</p>
                        </mat-cell>
                    </ng-container>
                    <!-- MODULO -->

                    <!-- DESCRIPCION -->
                    <ng-container matColumnDef="descripcion">
                        <mat-header-cell *matHeaderCellDef fxFlex="60" fxFlex.xs="60">Descripción</mat-header-cell>
                        <mat-cell *matCellDef="let pregunta" fxFlex="60" fxFlex.xs="60">
                            <p class="text-truncate font-weight-600">{{pregunta.descripcion.length>200?((pregunta.descripcion | slice:0:200)+"..."):pregunta.descripcion}}'</p>
                        </mat-cell>
                    </ng-container>
                    <!-- DESCRIPCION -->

                    <!-- TIPO PREGUNTA -->
                    <ng-container matColumnDef="nombreTipoPregunta">
                        <mat-header-cell *matHeaderCellDef fxFlex="15" fxFlex.xs="15">Tipo de pregunta
                        </mat-header-cell>
                        <mat-cell *matCellDef="let pregunta" fxFlex="15" fxFlex.xs="15">
                            <p class="text-truncate font-weight-600">{{pregunta.nombreTipoPregunta}}</p>
                        </mat-cell>
                    </ng-container>
                    <!-- TIPO PREGUNTA -->

                    <!-- COMPLEJIDAD -->
                    <ng-container matColumnDef="complejidad">
                        <mat-header-cell *matHeaderCellDef fxFlex="10" fxFlex.xs="10">Complejidad
                        </mat-header-cell>
                        <mat-cell *matCellDef="let pregunta" fxFlex="10" fxFlex.xs="10">
                            <p class="text-truncate font-weight-600">{{pregunta.complejidad}}</p>
                        </mat-cell>
                    </ng-container>
                    <!-- COMPLEJIDAD -->

                    <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row>
                    <mat-row *matRowDef="let pregunta; columns: displayedColumns;" class="contact"
                        [ngClass]="{'accent-50':checkboxes[pregunta.pregId]}">
                    </mat-row>
                </mat-table>

                <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons [length]="total"
                    [pageIndex]="pageNumber" [pageSize]="pageSize" (page)="loadPage($event)"></mat-paginator>

            </div>
        </div>
    </fuse-widget>
</div>