<div id="observation-dialog" class="dialog-content-wrapper" fxLayout="row wrap" fxFlex="100">
  <div class="px-16 py-12 titlecard" fxFlex="100">
    <div class="h3">{{'lbl.confirmar' | translate}}</div>
  </div>
  <form [formGroup]="form" fxLayout="row wrap" fxFlex="100" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="p-16 m-0" fusePerfectScrollbar fxLayout="row wrap" fxFlex="100">

      <div class="px-8" fxFlex="100">
        {{confirmMessage}}
      </div>

      <mat-divider></mat-divider>

      <mat-form-field fxFlex="100">
        <textarea matInput placeholder="{{'lbl.observaciones' | translate}}" maxlength="500"
          formControlName="observacion"></textarea>
        <mat-error *ngIf="form.controls.observacion.hasError('maxlength')">{{'msg.observacionesTamanoMaximo' |
            translate}}</mat-error>
      </mat-form-field>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row wrap" fxFlex="100" fxLayoutAlign="end center">
      <div fxFlex="50" fxFlex.xs="0"></div>
      <button fxFlex="50" fxFlex.xs="100" mat-stroked-button type="submit" class="btnPrimario">
        {{'lbl.guardar' | translate}}
      </button>
    </div>
  </form>
</div>