<div id="usuario" class="pagina-principal page-layout simple right-sidebar" fxLayout="row">
    <div class="center" fusePerfectScrollbar>
        <div class="tituloPrincipal" fxFlex="100">
            Realizar prueba
        </div>
        <div class="content">
            <div class="widget-group p-12" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom>
                <div fxLayout="row wrap" fxFlex="100">
                    <fuse-widget class="widget" fxLayout="row wrap" fxFlex="100">
                        <div class="fuse-widget-front" fxFlex="100">
                            <div class="px-16 py-12 titlecard" fxLayout="row" fxLayoutAlign="space-between center">
                                <div class="h3">Realizar prueba</div>
                            </div>
                            <div class="p-16 pb-0 m-0" fxLayout="row wrap" fxFlex="100" *ngIf="horas">
                                <div class="pt-0 pb-16 displayBlock" fxFlex="100">
                                    <span class="encabezadoReloj">Tiempo restante:</span>
                                    <span class="reloj">{{horas | number : '2.0'}} - {{minutos | number : '2.0'}} -
                                        {{segundos | number : '2.0'}}</span>
                                    <span class="encabezadoReloj"
                                        *ngIf="pruebaUsuario.totalRespuestasCorrectas !== undefined && pruebaUsuario.totalRespuestasCorrectas !== null">Resultado:
                                        {{pruebaUsuario.totalRespuestasCorrectas + '/' + pruebaUsuario.totalPreguntas}}</span>
                                </div>
                            </div>

                            <div *ngIf="preguntas && preguntas.length > 0 && preguntas[selected.value]"
                                class="tituloPrincipal" fxFlex="100">
                                Módulo: {{preguntas[selected.value].nombreModulo}}
                            </div>

                            <div fxFlex="100">
                                <mat-tab-group mat-align-tabs="center" mat-stretch-tabs fxFlex="100"
                                    [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
                                    <mat-tab *ngFor="let pregunta of preguntas;  let i = index">
                                        <ng-template mat-tab-label>
                                            <div class="board-list-item color1" fxLayout="column"
                                                fxLayoutAlign="center center">
                                                <mat-icon class="s-40">edit</mat-icon>
                                                <h3 class="m-0">Pregunta #{{i+1}}</h3>
                                            </div>
                                        </ng-template>

                                        <div *ngIf="pregunta.descripcionContexto" class="px-4" fxFlex="100">
                                            <ckeditor [editor]="Editor" [config]="editorConfig" fxFlex="100"
                                                [(data)]="pregunta.descripcionContexto" (ready)="setReadOnly($event)">
                                            </ckeditor>
                                        </div>
                                        <mat-divider *ngIf="pregunta.descripcionContexto"></mat-divider>
                                        <div *ngIf="pregunta.descripcionPregunta" class="px-4" fxFlex="100">
                                            <ckeditor [editor]="Editor" [config]="editorConfig" fxFlex="100"
                                                [(data)]="pregunta.descripcionPregunta" (ready)="setReadOnly($event)">
                                            </ckeditor>
                                        </div>
                                        <mat-divider></mat-divider>

                                        <div *ngIf="!pregunta.seleccionMultiple">
                                            <div>Unica respuesta</div>
                                            <div *ngFor="let respuesta of pregunta.respuestas">
                                                <mat-checkbox matInput (change)="seleccionarRespuesta(pregunta, respuesta)"
                                                    class="{{pregunta.respId == respuesta.respId && respuesta.esCorrecta === true ? 'respuestaCorrecta' : pregunta.respId == respuesta.respId && respuesta.esCorrecta === false ? 'respuestaIncorrecta': 
                                                    respuesta.correcta === 1 ? 'respuestaEquivocada' : ''}}"
                                                    [disabled]="pregunta.retroalimentacionPregunta ? 'true' : 'false'"
                                                    [checked]="pregunta.respId !== null && pregunta.respId == respuesta.respId">
                                                    <div fxFlex="100">
                                                        <ckeditor [editor]="Editor" [config]="editorConfig" fxFlex="100"
                                                            [(data)]="respuesta.descripcion" (ready)="setReadOnly($event)">
                                                        </ckeditor>
                                                    </div>
                                                </mat-checkbox>
                                            </div>
                                        </div>

                                        <div *ngIf="pregunta.seleccionMultiple">
                                            <div>Seleccion Multiple</div>
                                            <div *ngFor="let respuesta of pregunta.respuestas">
                                                <mat-checkbox matInput (change)="seleccionarRespuesta(pregunta, respuesta)"
                                                    class="{{pregunta.respId == respuesta.respId && respuesta.esCorrecta === true ? 'respuestaCorrecta' : pregunta.respId == respuesta.respId && respuesta.esCorrecta === false ? 'respuestaIncorrecta': 
                                                    respuesta.correcta === 1 ? 'respuestaEquivocada' : ''}}"
                                                    [disabled]="pregunta.retroalimentacionPregunta ? 'true' : 'false'"
                                                    >
                                                    <!-- [checked]="pregunta.respId !== null && pregunta.respId == respuesta.respId" -->

                                                    <div fxFlex="100">
                                                        <ckeditor [editor]="Editor" [config]="editorConfig" fxFlex="100"
                                                            [(data)]="respuesta.descripcion" (ready)="setReadOnly($event)">
                                                        </ckeditor>
                                                    </div>
                                                </mat-checkbox>
                                            </div>
                                        </div>

                                        <div *ngIf="!pregunta.respuestas || pregunta.respuestas.length == 0">
                                            <ckeditor [editor]="Editor" [config]="editorConfig" fxFlex="100"
                                                [(data)]="pregunta.respuestaAbierta"
                                                (blur)="actualizar(pregunta, $event)"
                                                [disabled]="pregunta.retroalimentacionPregunta ? true : false">
                                            </ckeditor>
                                        </div>

                                        <div *ngIf="pregunta.retroalimentacionPregunta" class="tituloPrincipal mt-4"
                                            fxFlex="100">
                                            Retroalimentación
                                        </div>
                                        <div *ngIf="pregunta.retroalimentacionPregunta" class="px-4 pb-4" fxFlex="100">
                                            <ckeditor [editor]="Editor" [config]="editorConfig" fxFlex="100"
                                                [(data)]="pregunta.retroalimentacionPregunta" (ready)="setReadOnly($event)">
                                            </ckeditor>
                                        </div>
                                        <div fxLayout="row" fxLayoutAlign="center center">

                                            <button fxFlex="33" mat-stroked-button type="button" *ngIf="i != 0"
                                                class="btnSecundario mx-8" (click)="prevTab()">
                                                Anterior pregunta
                                            </button>
                                            <button fxFlex="33" mat-stroked-button type="button"
                                                *ngIf="i != preguntas.length -1" class="btnPrimario mx-8"
                                                (click)="nextTab()">
                                                Siguiente pregunta
                                            </button>
                                        </div>
                                    </mat-tab>
                                </mat-tab-group>
                            </div>

                            <div mat-dialog-actions class="m-0 p-16" fxLayout="row wrap" fxFlex="100"
                                fxLayoutAlign="end center">
                                <div fxFlex="50">
                                    <button
                                        *ngIf="pruebaUsuario.nombreEstadoPrueba == 'INICIADA' && pruebaUsuario.tipoPrueba == 'ENTRENAMIENTO'"
                                        fxFlex="100" mat-stroked-button type="button" class="btnSecundario mx-8"
                                        (click)="pausarPrueba()">
                                        Pausar prueba
                                    </button>

                                    <button *ngIf="pruebaUsuario.nombreEstadoPrueba == 'FINALIZADA'" fxFlex="100"
                                        mat-stroked-button type="button" class="btnSecundario mx-8"
                                        (click)="descargarInformeGeneral()">
                                        Ver informe general
                                    </button>

                                </div>
                                <div fxFlex="50">
                                    <button *ngIf="pruebaUsuario.nombreEstadoPrueba == 'INICIADA'" fxFlex="100"
                                        mat-stroked-button type="button" class="btnPrimario mx-8"
                                        (click)="finalizarPrueba()">
                                        Finalizar prueba
                                    </button>
                                    <button *ngIf="pruebaUsuario.nombreEstadoPrueba == 'FINALIZADA'" fxFlex="100"
                                        mat-stroked-button type="button" class="btnPrimario mx-8"
                                        (click)="descargarInforme()">
                                        Descargar reporte
                                    </button>
                                </div>
                            </div>
                        </div>
                    </fuse-widget>
                </div>
            </div>
        </div>
    </div>
</div>