<div id="forms" class="page-layout simple fullwidth" fxLayout="column">

    <!-- HEADER -->
    <div class="header accent p-24 h-80" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Pruebas</span>
            </div>
            
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">


        <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">

            <!-- REACTIVE FORM -->
            <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start"
                  fxFlex="1 0 auto" name="form" [formGroup]="form">
                
                <!-- <div class="h2 mb-24">Pruebas</div> -->
                
                <div class="p-16 pb-0 m-0" fusePerfectScrollbar fxLayout="row wrap" fxFlex="100">
        
                    <!--TABLA PREGUNTAS-->
                    <mat-table #table [dataSource]="datasource" fxFlex="100">
                        
                        <!--COLUMNA ID-->
                        <ng-container matColumnDef="prueId">
                            <mat-header-cell *matHeaderCellDef fxFlex="5" fxFlex.xs="5">
                                <div class="px-4 h3">#</div>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let item" fxFlex="5" fxFlex.xs="5" (click)="seleccionar(item)">
                                <div class="px-4" fxFlex="100">
                                    <span class="referencia">{{item.prueId}}</span>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <!--COLUMNA ID-->

                        <!--COLUMNA TIPO PRUEBA-->
                        <ng-container matColumnDef="nombreTipoPrueba">
                            <mat-header-cell *matHeaderCellDef fxFlex="20" fxFlex.xs="20">
                                <div class="px-4 h3">Tipo prueba</div>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let item" fxFlex="20" fxFlex.xs="20" (click)="seleccionar(item)">
                                <div class="px-4" fxFlex="100">
                                    <span class="referencia">{{item.nombreTipoPrueba}}</span>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <!--COLUMNA TIPO PRUEBA-->

                        <!--COLUMNA FECHA INICIAL-->
                        <ng-container matColumnDef="fechaInicial">
                            <mat-header-cell *matHeaderCellDef fxFlex="15" fxFlex.xs="15">
                                <div class="px-4 h3">Fecha inicial</div>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let item" fxFlex="15" fxFlex.xs="15" (click)="seleccionar(item)">
                                <div class="px-4" fxFlex="100">
                                    <span class="referencia">{{item.fechaInicial | date: 'dd/MMM/yyyy'}}</span>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <!--COLUMNA FECHA INICIAL-->

                        <!--COLUMNA FECHA FINAL-->
                        <ng-container matColumnDef="fechaFinal">
                            <mat-header-cell *matHeaderCellDef fxFlex="15" fxFlex.xs="15">
                                <div class="px-4 h3">Fecha final</div>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let item" fxFlex="15" fxFlex.xs="15" (click)="seleccionar(item)">
                                <div class="px-4" fxFlex="100">
                                    <span class="referencia">{{item.fechaFinal | date: 'dd/MMM/yyyy'}}</span>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <!--COLUMNA FECHA FINAL-->

                        <!--COLUMNA DURACION-->
                        <ng-container matColumnDef="duracion">
                            <mat-header-cell *matHeaderCellDef fxFlex="15" fxFlex.xs="15">
                                <div class="px-4 h3">Duración (Mins)</div>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let item" fxFlex="15" fxFlex.xs="15" (click)="seleccionar(item)">
                                <div class="px-4" fxFlex="100">
                                    <span class="referencia">{{item.tiempo}}</span>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <!--COLUMNA DURACION-->

                        <!--COLUMNA PROPIETARIO-->
                        <ng-container matColumnDef="propietario">
                            <mat-header-cell *matHeaderCellDef fxFlex="30" fxFlex.xs="30">
                                <div class="px-4 h3">Propietario</div>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let item" fxFlex="30" fxFlex.xs="30" (click)="seleccionar(item)">
                                <div class="px-4" fxFlex="100">
                                    <span class="referencia">{{item.nombrePropietario}}</span>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <!--COLUMNA PROPIETARIO-->
            
                        <!--DEFINICION DE COLUMNAS-->
                        <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row>
                        <mat-row *matRowDef="let item; columns: displayedColumns"></mat-row>
                        <!--DEFINICION DE COLUMNAS-->

                    </mat-table>
                    <!--TABLA PREGUNTAS-->
            
                    <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
            
                </div>

            </form>
            <!-- REACTIVE FORM -->

        </div>


    </div>

    
    <!-- / CONTENT -->

</div>


