<div id="observation-dialog" class="dialog-content-wrapper" fxLayout="row wrap" fxFlex="100">
    <div class="px-16 py-12 titlecard" fxFlex="100">
        <div class="h3">Visualizar pregunta</div>
    </div>
    <div mat-dialog-content class="p-16 m-0" fusePerfectScrollbar fxLayout="row wrap" fxFlex="100">
        <div class="tituloPrincipal" fxFlex="100">
            Módulo: {{pregunta.nombreModulo}}
        </div>

        <div fxFlex="100">
            <mat-tab-group mat-align-tabs="center" mat-stretch-tabs fxFlex="100">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <div class="board-list-item color1" fxLayout="column" fxLayoutAlign="center center">
                            <mat-icon class="s-40">edit</mat-icon>
                            <h3 class="m-0">Pregunta #1</h3>
                        </div>
                    </ng-template>
                    <div *ngIf="pregunta.contexto" class="px-4" fxFlex="100" [innerHTML]="pregunta.contexto"></div>
                    <mat-divider *ngIf="pregunta.contexto"></mat-divider>
                    <div *ngIf="pregunta.descripcion" class="px-4" fxFlex="100" [innerHTML]="pregunta.descripcion">
                    </div>
                    <mat-divider></mat-divider>
                    <div *ngFor="let respuesta of pregunta.respuestasDTO">
                        <mat-checkbox matInput (change)="seleccionarRespuesta(pregunta, respuesta)" class="{{pregunta.respId == respuesta.respId && respuesta.esCorrecta === true ? 'respuestaCorrecta' : pregunta.respId == respuesta.respId && respuesta.esCorrecta === false ? 'respuestaIncorrecta': 
                            respuesta.correcta === 1 ? 'respuestaEquivocada' : ''}}"
                            [disabled]="'true'"
                            [checked]="pregunta.respId !== null && pregunta.respId == respuesta.respId">
                            <div [innerHTML]="respuesta.descripcion" fxFlex="100"></div>
                        </mat-checkbox>
                    </div>
                    <div *ngIf="!pregunta.respuestasDTO || pregunta.respuestasDTO.length == 0">
                        <ckeditor [editor]="Editor" [config]="editorConfig" fxFlex="100"
                            [(data)]="pregunta.respuestaAbierta">
                        </ckeditor>
                    </div>

                    <div *ngIf="pregunta.retroalimentacion" class="tituloPrincipal mt-4" fxFlex="100">
                        Retroalimentación
                    </div>
                    <div *ngIf="pregunta.retroalimentacion" class="px-4 pb-4"
                        [innerHTML]="pregunta.retroalimentacion" fxFlex="100"></div>
                    <div fxLayout="row" fxLayoutAlign="center center">

                        <button fxFlex="33" mat-stroked-button type="button" class="btnSecundario mx-8">
                            Anterior pregunta
                        </button>
                        <button fxFlex="33" mat-stroked-button type="button" class="btnPrimario mx-8">
                            Siguiente pregunta
                        </button>
                    </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <div class="board-list-item color1" fxLayout="column" fxLayoutAlign="center center">
                            <mat-icon class="s-40">edit</mat-icon>
                            <h3 class="m-0">Pregunta #2</h3>
                        </div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>