<div id="usuario" class="pagina-principal page-layout simple right-sidebar" fxLayout="row">
    <div class="center" fusePerfectScrollbar>
        <div class="tituloPrincipal" fxFlex="100">
            Registrar una prueba
        </div>
        <div class="content">
            <div class="widget-group p-12" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom>
                <div fxLayout="row wrap" fxFlex="100">
                    <fuse-widget class="widget" fxLayout="row wrap" fxFlex="100">
                        <div class="fuse-widget-front" fxFlex="100">
                            <div class="px-16 py-12 titlecard" fxLayout="row" fxLayoutAlign="space-between center">
                                <div class="h3">Datos generales de la prueba</div>
                            </div>
                            <div class="p-16 pb-0 m-0" fusePerfectScrollbar fxLayout="row wrap" fxFlex="100">
                                <p class="pt-0 pb-16">
                                    Diseñe una prueba. Incluya uno o varios módulos. Conforme la población y actívela
                                    cuando desee dar inicio a la misma.
                                </p>
                                <form [formGroup]="form" fxLayout="row wrap" fxFlex="100">
                                    <mat-form-field appearance="outline" fxFlex="50" class="px-8">
                                        <mat-label>Tipo de prueba</mat-label>
                                        <mat-select formControlName="tipoPrueba" required disabled>
                                            <mat-option [value]="1">
                                                Entrenamiento
                                            </mat-option>
                                            <mat-option [value]="2">
                                                Simulacro
                                            </mat-option>
                                        </mat-select>
                                        <mat-icon matSuffix class="secondary-text">bookmarks</mat-icon>
                                        <mat-error>El tipo de prueba es obligatorio!</mat-error>
                                    </mat-form-field>

                                    <!--DURACION DE LA PRUEBA-->
                                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
                                        <div class="h3" fxFlex="100">Duración (En minutos):</div>
                                        <div fxFlex="100">
                                            <mat-slider class="example-margin" [invert]="invert" [max]="max" [min]="min"
                                                [step]="step" [thumbLabel]="thumbLabel"
                                                [tickInterval]="getSliderTickInterval()" formControlName="duracion"
                                                [vertical]="vertical">
                                            </mat-slider>
                                            {{form.controls.duracion.value / 60 | number}} Horas
                                        </div>
                                    </div>
                                    <!--DURACION DE LA PRUEBA-->

                                    <mat-form-field appearance="outline" fxFlex="50" class="px-8">
                                        <mat-label>Fecha inicial</mat-label>
                                        <input matInput formControlName="fechaInicial" [min]="hoy"
                                            [max]="form.controls.fechaFinal.value ? form.controls.fechaFinal.value : null"
                                            [ngxMatDatetimePicker]="picker1" readonly="true">
                                        <mat-datepicker-toggle matSuffix [for]="picker1">
                                        </mat-datepicker-toggle>
                                        <ngx-mat-datetime-picker #picker1 [showSpinners]="true" [showSeconds]="false"
                                            [stepHour]="1" [stepMinute]="10" [touchUi]="false" [stepSecond]="0">
                                        </ngx-mat-datetime-picker>
                                        <mat-error>La fecha inicial es obligatoria!</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex="50" class="px-8">
                                        <mat-label>Fecha final</mat-label>
                                        <input matInput formControlName="fechaFinal"
                                            [min]="form.controls.fechaInicial.value ? form.controls.fechaInicial.value : hoy"
                                            [ngxMatDatetimePicker]="picker2" readonly="true">
                                        <mat-datepicker-toggle matSuffix [for]="picker2">
                                        </mat-datepicker-toggle>
                                        <ngx-mat-datetime-picker #picker2 [showSpinners]="true" [showSeconds]="false"
                                            [stepHour]="1" [stepMinute]="10" [touchUi]="false" [stepSecond]="0">
                                        </ngx-mat-datetime-picker>
                                    </mat-form-field>

                                    <mat-form-field fxFlex="100" class="px-8" appearance="outline">
                                        <mat-label>Módulos</mat-label>
                                        <mat-select formControlName="modulos" multiple>
                                            <mat-option *ngFor="let modulo of listaModulos" [value]="modulo.moduId">
                                                {{modulo.nombre}}</mat-option>
                                        </mat-select>
                                        <mat-error>Debe seleccionar por lo menos un módulo!</mat-error>
                                    </mat-form-field>
                                </form>
                            </div>

                            <app-lista-estudiantes [usuariosSeleccionados]="usuariosSeleccionados">
                            </app-lista-estudiantes>

                            <div mat-dialog-actions class="m-0 p-16" fxLayout="row wrap" fxFlex="100"
                                fxLayoutAlign="end center">
                                <div fxFlex="50" fxFlex.xs="0"></div>
                                <button fxFlex="50" fxFlex.xs="100" mat-stroked-button type="button" class="btnPrimario"
                                    (click)="guardarPrueba()">
                                    Guardar prueba
                                </button>
                            </div>
                        </div>
                    </fuse-widget>
                </div>
            </div>
        </div>
    </div>
</div>